################################################################################
#
# TODO fill out these fields per your location and rename this file to 'config.ini'
#
################################################################################

[caldav]
# Your timezone location. Ex: America/NewYork
myLocation = 'America/Denver'
# Minutes before the event to set the alerts to
myAlertTime = 15
# Where to output the .ics files for each of the satellite events
outFolder = some_folder

[restapi]
# Add your specific N2YO API Key here by visiting this page:
#       https://www.n2yo.com/login/edit
myKey = xxxxxx-xxxxxx-xxxxxx-xxxx
# Your location's latitude
myLatitude = 00.000
# Your location's longitude
myLongitude = 00.000
# Your location's altitude
myAltitudeMeters = 0
# Desired minimum peak angle
myThresholdAngle = 45
# Desired Prediction Days out to fetch (max of 10)
myPredictionDays = 10

[satellites]
# List all satellites desired to be tracked
mySatelliteNoradIds = 25338 28654 33591 43013
mySatelliteNames = NOAA15 NOAA18 NOAA19 NOAA20
