# Add your specific N2YO API Key here by visiting this page:
#       https://www.n2yo.com/login/edit
myKey = 'xxxxxx-xxxxxx-xxxxxx-xxxx'
# Your location's latitude
myLatitude = 38.993
# Your location's longitude
myLongitude = -77.031
# Your locations altitude
myAltitudeMeters = 10

